#main {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 15px;
  padding-top: 3px;
  border-style: none;
  background: linear-gradient(to top right, #33ccff 0%, #333399 100%);
}

label {
  font-size: 15px;
  font-weight: bold;
}

input {
  border-radius: 5px;
  border-style: none;
}